@page "{id}"
@model DigiMoallem.Web.Pages.Admin.Accountings.DetailsModel

@{
    ViewData["Title"] = "جزئیات واریزی";
    int teacherTotalIncomePerCourse = (int)ViewData["TeacherIncomePerCourse"];
    int teacherRemaningPayment = (int)ViewData["TeacherRemaningPayment"];
}

    <div class="container">

        <a asp-area=""
           asp-page="Index"
           class="btn btn-outline-info">
            <i class="fas fa-arrow-right ml-2"></i> بازگشت
        </a>

        <h1 class="my-5"> <i class="fa fa-book ml-2"></i> @ViewData["Title"]</h1>

        <!-- payments table -->
        <div class="table-responsive">
            <table class="table table-dark table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="th-sm">
                            شناسه
                        </th>
                        <th class="th-sm">
                            نام مدرس
                        </th>
                        <th class="th-sm">
                            نام درس
                        </th>
                        <th class="th-sm">
                            میزان واریزی
                        </th>
                        <th class="th-sm">
                            تاریخ
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Payment.PaymentId</td>
                        <td>@Model.Payment.User.UserName</td>
                        <td>@Model.Payment.Amount.ThreeDigitSeperator()</td>
                        <td>@Model.Payment.PaymentDate.ToPersianDate()</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- payments table -->
        <div class="table-responsive">
            <table class="table table-dark table-striped table-bordered">
                <thead>
                    <tr class="text-center">
                        <th class="th-sm">
                            دریافتی های استاد
                        </th>
                        <th class="th-sm">
                            طلب باقی مانده
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td>@teacherTotalIncomePerCourse.ThreeDigitSeperator()</td>
                        <td>@teacherRemaningPayment.ThreeDigitSeperator()</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>