@inject ISettingService settingService
@inject IStandardService standardService

@{
    ViewData["Title"] = "راهنما";
}

@section Styles {
    <style>
        .accordion {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: right;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
        }

        .active-1 .accordion:hover {
            background-color: #ccc;
        }

        .panel {
            padding: 0 18px;
            display: none;
            background-color: white;
            overflow: hidden;
        }

        .accordion:after {
            content: '\02795'; /* Unicode character for "plus" sign (+) */
            font-size: 13px;
            color: #777;
            float: right;
            margin-left: 5px;
        }

        .active-1:after {
            content: "\2796"; /* Unicode character for "minus" sign (-) */
        }
    </style>
}

<div class="container my-4">

    <div class="card">

        <div class="card-header">
            <i class="fa fa-question"></i> @ViewData["Title"]
        </div>

        <div class="card-body">

            <ul class="nav nav-tabs small">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">
                        همکاری با دیجی معلم
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#files">
                        فایل‌های مورد نیاز
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#standard">
                        استانداردهای دیجی معلم
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#production">
                        قوانین تولید
                    </a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">

                <div class="tab-pane fade active show pt-5" id="home">

                    @Html.Raw(settingService.GetSettingById(1).ContributeDigiMoallem)

                </div>

                <div class="tab-pane fade pt-5" id="files">

                    @Html.Raw(settingService.GetSettingById(1).Files)

                </div>

                <div class="tab-pane fade pt-5" id="standard">

                    <h3 class="mb-5">استانداردهای دیجی معلّم برای تولید ویدئوهای آموزشی</h3>

                    @foreach (var standard in standardService.GetStandards())
                    {
                        <button class="accordion">@standard.Title</button>
                        <div class="panel pt-3">
                            @Html.Raw(standard.Description)
                        </div>
                    }

                </div>

                <div class="tab-pane fade pt-5" id="production">

                    @Html.Raw(settingService.GetSettingById(1).ProductionRules)

                </div>

            </div>

        </div>

    </div>

</div>

@section Scripts {
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active-1");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>
}