@model DigiMoallem.BLL.DTOs.Accountings.TeacherPaymentViewModel
@inject IUserService userService

@{
    ViewData["Title"] = "لیست واریزی ها به مدرس";
    var userId = userService.GetUserIdByUserName(User.Identity.Name);
}

<div class="loader d-flex justify-content-center align-items-center" style="display: block;">
    <i class="fa fa-circle-notch fa-3x text-white fa-spin"></i>
</div>

<div class="container my-4" style="display:none;">

    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success">
            @TempData["Success"]
        </div>
    }

    <div class="row">

        <div class="col-12 col-md-8">

            <div class="card">

                <div class="card-header">
                    <i class="fa fa-list-ul ml-1"></i> @ViewData["Title"]
                </div>

                <div class="card-body">

                    @if (Model.Payments.Any())
                    {
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th>میزان پرداختی</th>
                                    <th>تاریخ پرداختی</th>
                                </tr>
                                @foreach (var payment in Model.Payments)
                                {
                                    <tr>
                                        <td>@payment.Amount.ThreeDigitSeperator()</td>
                                        <td class="english-font">@payment.PaymentDate.ToPersianDate()</td>
                                    </tr>
                                }
                            </table>
                        </div>

                        @if (Model.PageNumber > 1)
                        {
                            <div class="my-4">
                                <!-- pagination -->
                                <ul class="pagination pagination-sm justify-content-center">
                                    @for (int i = 1; i <= Model.PagesCount; i++)
                                    {
                                        <li class="page-item english-font @((Model.PageNumber == i) ? "active" : "")">
                                            <a class="page-link" href="/Payments/@userId?pageNumber=@i">@i</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="alert alert-warning">
                            پرداختی ثبت نشده است.
                        </div>
                    }

                </div>

            </div>

        </div>

        <div class="col-12 col-md-4">

            <partial name="_SidebarPartial" />

        </div>

    </div>

</div>

@section Scripts {
    <script src="~/js/main.js"></script>
}

