@page "{id}"
@model DigiMoallem.Web.Pages.Admin.Courses.DeleteEpisodeModel
@inject ICourseService  _courseService
@inject IPermissionService permissionService

@{
    ViewData["Title"] = "حذف بخش";
}

<div class="container">

    <!-- back to episodes -->
    <a asp-area=""
       asp-page="/Admin/Courses/Episodes"
       asp-route-id="@Model.CourseEpisode.CourseId"
       class="btn btn-outline-info">
        <i class="fas fa-arrow-right ml-2"></i> بازگشت
    </a>

    <section class="card mt-5">

        <header class="card-header">
            <i class="fa fa-trash ml-2"></i> @ViewData["Title"]
        </header>

        <div class="card-body">

            @if (ViewData["Failure"] != null)
            {
                <div class="alert alert-danger">
                    @ViewData["Failure"]
                </div>
            }

            @if (User.Identity.Name == _courseService.GetCourseById(Model.CourseEpisode.CourseId).User.UserName ||
                             permissionService.CheckPermission(2, User.Identity.Name))
            {

                <form method="post">
                    <!-- hidden -->
                    <input type="hidden" asp-for="CourseEpisode.CourseId" />
                    <input type="hidden" asp-for="CourseEpisode.CourseEpisodeId" />
                    <input type="hidden" asp-for="CourseEpisode.EpisodeFileName" />

                    <!-- episode table -->
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <tr>
                                <th>عنوان بخش</th>
                                <td>@Model.CourseEpisode.Title</td>
                            </tr>
                            <tr>
                                <th>زمان بخش</th>
                                <td class="english-font">@Model.CourseEpisode.EpisodeLength</td>
                            </tr>
                            <tr>
                                <th>نوع بخش</th>
                                <td>
                                    @if (Model.CourseEpisode.IsFree)
                                    {
                                        <text> رایگان </text>
                                    }
                                    else
                                    {
                                        <text> نقدی </text>
                                    }
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!-- delete -->
                    <button class="btn btn-outline-danger">
                        <i class="fa fa-trash ml-2"></i> حذف بخش
                    </button>

                </form>

            }
        </div>

    </section>

</div>