@page "{id}"
@model DigiMoallem.Web.Pages.Admin.Courses.EditModel
@inject IPermissionService _permissionService
@inject ICourseService  _courseService

@{
    ViewData["Title"] = "ویرایش درس جدید";
}

<div class="container">

    @if (_permissionService.CheckPermission(2, User.Identity.Name))
    {
        <!-- back to courses -->
        <a asp-area=""
           asp-page="Index"
           class="btn btn-outline-info">
            <i class="fas fa-arrow-right ml-2"></i> بازگشت
        </a>
    }
    else
    {
        <!-- back to courses (Teacher) -->
        <a asp-area=""
           asp-page="Teacher"
           class="btn btn-outline-info">
            <i class="fas fa-arrow-right ml-2"></i> بازگشت
        </a>
    }

    <h1 class="my-5"> <i class="fa fa-book ml-2"></i> @ViewData["Title"]</h1>

    @if (User.Identity.Name == _courseService.GetCourseById(Model.Course.CourseId).User.UserName ||
                    _permissionService.CheckPermission(2, User.Identity.Name))
    {

        <form method="post" enctype="multipart/form-data">

            <input type="hidden" asp-for="Course.CourseId" />
            <input type="hidden" asp-for="Course.CreateDate" />
            <input type="hidden" asp-for="Course.ImageName" />
            <input type="hidden" asp-for="Course.Demo" />

            <div class="container">

                <div asp-validation-summary="All" class="text-danger my-4"></div>

                @if (ViewData["Failure"] != null)
                {
                    <div class="alert alert-danger">
                        @ViewData["Failure"]
                    </div>
                }

                <div class="row">
                    <div class="col-12 col-sm-12 col-md-8 col-lg-8">

                        <!-- title -->
                        <div class="md-form mb-4">
                            <label asp-for="Course.Title"></label>
                            <input type="text" asp-for="Course.Title" class="form-control" />

                            <span asp-validation-for="Course.Title" class="text-danger"></span>
                        </div>

                        <!-- groups -->
                        <div class="md-form mb-4">
                            <label asp-for="Course.GroupId"></label>
                            <select class="browser-default custom-select select-list"
                                    asp-for="Course.GroupId"
                                    asp-items="@ViewData["Groups"] as SelectList">
                                <option value="" disabled selected>یکی از گروه ها را انتخاب نمایید</option>
                            </select>

                            <span asp-validation-for="Course.GroupId" class="text-danger"></span>
                        </div>

                        <!-- subgroups -->
                        @*<div class="md-form mb-4">
             <select class="browser-default custom-select" asp-for="Course.SubGroupId" asp-items="@ViewData["SubGroups"] as SelectList"></select>
        </div>*@


                        @if (_permissionService.CheckPermission(2, User.Identity.Name))
                        {
                            <!-- teacher manage by admin -->
                            <div class="md-form mb-4">
                                <label asp-for="Course.TeacherId"></label>
                                <select class="browser-default custom-select select-list"
                                        asp-for="Course.TeacherId"
                                        asp-items="@ViewData["Teachers"] as SelectList">
                                    <option value="" disabled selected>یکی از اساتید را انتخاب نمایید</option>
                                </select>
                            </div>
                        }
                        else
                        {
                            <!-- teacher selected -->
                            <input type="hidden" asp-for="Course.TeacherId" />
                        }

                        @if (_permissionService.CheckPermission(2, User.Identity.Name))
                        {
                            <!-- price -->
                            <div class="md-form mb-4">
                                <label asp-for="Course.Price"></label>
                                <input type="text" asp-for="Course.Price" class="form-control text-direction-ltr text-left english-font" />

                                <span asp-validation-for="Course.Price" class="text-danger"></span>
                            </div>
                        }
                        else
                        {
                            <input type="hidden" asp-for="Course.Price" />
                        }

                        @if (_permissionService.CheckPermission(2, User.Identity.Name))
                        {
                            <!-- teacher percent (admin-only) -->
                            <div class="form-group mb-4">
                                <label asp-for="Course.TeacherPercent"></label>
                                <input type="number"
                                       asp-for="Course.TeacherPercent"
                                       class="form-control text-direction-ltr text-left" />
                                <span class="text-warning small"> توجه: مبلغ پیشنهادی برای درس توسط ادمین بررسی شود. </span>

                                <span asp-validation-for="Course.TeacherPercent"></span>
                            </div>
                        }
                        else
                        {
                            <input type="hidden" asp-for="Course.TeacherPercent" />
                        }

                        <!-- description -->
                        <div class="form-group mb-4">
                            <textarea class="form-control" asp-for="Course.Description" rows="3"></textarea>
                        </div>

                        <!-- tags -->
                        <div class="md-form mb-4">
                            <label asp-for="Course.Tags"></label>
                            <input type="text" asp-for="Course.Tags" class="form-control" />
                            <span class="text-light small"> توجه: برچسب ها را با - از هم جدا کنید. </span>
                        </div>

                        <!-- file demo -->
                        <span class="text-light mb-2 d-block">فیلم دمو دوره</span>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input"
                                   asp-for="Course.Demo"
                                   name="demo" />
                            <label class="custom-file-label"
                                   style="padding-right:6rem">انتخاب فایل</label>
                        </div>

                        <div class="form-group my-5">
                            <!-- create -->
                            <button type="submit" class="btn btn-outline-warning">
                                <i class="fa fa-pen ml-2"></i> ویرایش درس جدید
                            </button>
                        </div>

                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4">

                        <!-- course image -->
                        <img id="display-image"
                             src="~/Images/Courses/@Model.Course.ImageName"
                             class="img-fluid mx-auto my-2 display-block"
                             alt="default course" />

                        <div class="form-group my-4">
                            <span class="text-light mb-2 d-block">تصویر دوره</span>
                            <div class="input-group w-100 max-width-520px">
                                <div class="custom-file">
                                    <label asp-for="Course.ImageName"></label>
                                    <input type="file" class="custom-file-input"
                                           asp-for="Course.ImageName"
                                           id="image"
                                           name="imgCourseUpload" />
                                    <label class="custom-file-label" style="padding-right:6rem"
                                           asp-for="Course.ImageName">انتخاب فایل</label>
                                </div>
                            </div>
                        </div>

                        <!-- course levels -->
                        <div class="md-form mb-4">
                            <label asp-for="Course.CourseLevelId"></label>
                            <select class="browser-default custom-select select-list"
                                    asp-for="Course.CourseLevelId"
                                    asp-items="@ViewData["CourseLevels"] as SelectList">
                                <option value="" disabled selected>یکی از سطوح را انتخاب نمایید</option>
                            </select>
                        </div>

                        <!-- course statuses -->
                        @*<div class="md-form mb-4">
                                <select class="browser-default custom-select" asp-for="Course.CourseStatusId" asp-items="@ViewData["CourseStatuses"] as SelectList">
                                  <option value="" disabled selected>یکی از وضعیت ها را انتخاب نمایید</option>
                                </select>
                            </div>*@
                        <input type="hidden" asp-for="Course.CourseStatusId" />

                        <!-- courseType list  -->
                        <div class="card">
                            <div class="card-header">
                                نوع دوره
                            </div>
                            <div class="card-body">
                                @foreach (var courseType in ViewData["CourseTypes"] as SelectList)
                                {
                                    <div class="form-check my-2">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input"
                                                   value="@courseType.Value"
                                                   name="courseTypes"
                                                   @((Model.Course.CourseInCourseTypes.Any(cc => cc.CourseTypeId == Int32.Parse(courseType.Value))) ? "checked" : "") />
                                            <span class="mr-4">@courseType.Text</span>
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="card my-3">
                            <div class="card-header">
                                تنظیمات دوره
                            </div>
                            <div class="card-body">
                                @if (_permissionService.CheckPermission(2, User.Identity.Name))
                                {
                                    <!-- is hidden (admin-only) -->
                                    <div class="form-check">
                                        <label class="form-check-label" asp-for="Course.IsHidden">
                                            <input type="checkbox" class="form-check-input" asp-for="Course.IsHidden" />
                                            <span class="pr-4">مخفی سازی درس</span>
                                        </label>
                                    </div>

                                    <!-- is favorite (admin-only) -->
                                    <div class="form-check my-3">
                                        <label class="form-check-label" asp-for="Course.IsFavorite">
                                            <input type="checkbox" class="form-check-input"
                                                   asp-for="Course.IsFavorite" />
                                            <span class="pr-4">دوره برگزیده شده</span>
                                        </label>
                                    </div>

                                    <!-- check by admin (admin-only) -->
                                    <div class="form-check">
                                        <label class="form-check-label" asp-for="Course.IsCheckedByAdmin">
                                            <input type="checkbox" class="form-check-input"
                                                   asp-for="Course.IsCheckedByAdmin" />
                                            <span class="pr-4">مورد تایید ادمین</span>
                                        </label>
                                    </div>
                                }

                                <!-- display comment -->
                                <div class="form-check my-3">
                                    <label class="form-check-label" asp-for="Course.DisplayComment">
                                        <input type="checkbox" class="form-check-input" asp-for="Course.DisplayComment" />
                                        <span class="pr-4">نمایش نظرات</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        @if (_permissionService.CheckPermission(2, User.Identity.Name))
                        {
                            <!-- apply off to course price (admin-only) -->
                            <div class="card">

                                <div class="card-header">

                                    اعمال تخفیف

                                </div>

                                <div class="card-body">

                                    <!-- has off -->
                                    <div class="form-check">
                                        <label class="form-check-label" asp-for="Course.Off">
                                            <input type="checkbox" class="form-check-input" asp-for="Course.Off" />
                                            <span class="pr-4">دارای تخفیف</span>
                                        </label>
                                    </div>

                                    <!-- off percent -->
                                    <div class="form-group mt-4">
                                        <label asp-for="Course.OffPercent"></label>
                                        <input type="number" asp-for="Course.OffPercent"
                                               class="form-control text-direction-ltr text-left" />

                                        <span asp-validation-for="Course.OffPercent"></span>
                                    </div>

                                </div>

                            </div>
                        }

                    </div>
                </div>

            </div>
        </form>

    }

</div>

@section Scripts {

    <script src="~/Admin/Scripts/Site.js"></script>

    <!-- fetch related subgroups to manage -->
    @*<script>
            // display nothing in subgroup, till admin select one group

            $("#Course_GroupId").change(function () {

                // remove all prevoius subgroups
                $("#Course_SubGroupId").empty();

                $.getJSON("/Home/GetSubGroups/" + $("#Course_GroupId :selected").val(), function (data) {

                    $.each(data, function () {
                        $("#Course_SubGroupId").append('<option value=' + this.value + '>' + this.text + '</option>');
                    });

                });

            });
        </script>*@

    <!-- ckeditor settings -->
    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('Course_Description', {
            customConfig: '/admin/js/config.js'
        });
    </script>
}