@page "{id}"
@model DigiMoallem.Web.Pages.Admin.Courses.EpisodesModel
@inject ICourseService  _courseService

@{
    ViewData["Title"] = "لیست بخش ها";
}

<h1 class="my-5"> <i class="fa fa-database ml-2"></i> @ViewData["Title"]</h1>

<!-- breadcrumb -->
<div class="bc-icons-2">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb dark-bg-admin lighten-5">
            <li class="breadcrumb-item active">@ViewData["Title"]</li>
        </ol>
    </nav>

</div>

<!-- create succeeded -->
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}

<!-- search -->
<div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="md-form">
            <input type="text" id="searchInput" class="form-control">
            <label for="searchInput">جستجو دوره ها</label>
        </div>
    </div>
</div>

<div class="p-3">
    <!-- add -->
    <a asp-page="CreateEpisode" asp-route-id="@ViewData["CourseId"].ToString()" class="btn btn-success btn-sm"> <i class="fa fa-plus ml-2"></i> افزودن بخش جدید</a>
</div>

<!-- users table -->
<div class="table-responsive">
    <table class="table table-dark table-striped table-bordered">
        <thead>
            <tr>
                <th class="th-sm">
                    شناسه
                </th>
                <th class="th-sm">
                    عنوان بخش
                </th>
                <th class="th-sm">
                    زمان بخش
                </th>
                <th class="th-sm">
                    نوع بخش
                </th>
                <th class="th-sm">
                    دستورات
                </th>
            </tr>
        </thead>
        <tbody id="dataTable">
            @if (Model.CourseEpisodes.Count == 0)
            {
                <tr class="bg-dark text-light">
                    <td colspan="5" class="py-4">
                        <i class="fas fa-exclamation-triangle ml-2"></i> لیست بخش ها خالی است.
                    </td>
                </tr>
            }
            else
            {
                @foreach (var episode in Model.CourseEpisodes)
                {
                    @if (User.Identity.Name == _courseService.GetCourseById(episode.Course.CourseId).User.UserName)
                    {
                        <tr>
                            <td class="english-font">@episode.CourseEpisodeId</td>
                            <td>@episode.Title</td>
                            <td>@episode.EpisodeLength</td>
                            <td>
                                @if (episode.IsFree)
                                {
                                    <text> رایگان </text>
                                }
                                else
                                {
                                    <text> نقدی </text>
                                }
                            </td>
                            <td class="text-center">
                                <a asp-area=""
                                   asp-page="/Admin/Courses/EditEpisode"
                                   asp-route-id="@episode.CourseEpisodeId" 
                                   class="btn btn-warning btn-sm"> 
                                <i class="fa fa-pen ml-2"></i> ویرایش
                                </a>
                                <a asp-area=""
                                   asp-page="/Admin/Courses/DeleteEpisode"
                                   asp-route-id="@episode.CourseEpisodeId" 
                                   class="btn btn-danger btn-sm"> 
                                <i class="fa fa-trash ml-2"></i> حذف
                                </a>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/Admin/Scripts/Site.js"></script>
}
