<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>

    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>

    <partial name="_StylesAdminPartial" />
    @RenderSection("Metatags", required: false)
    @RenderSection("Styles", required: false)

</head>
<body>

    <header>
        <partial name="_NavbarAdminPartial" />
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <partial name="_FooterAdminPartial" />
    </footer>

    <partial name="_ScriptsAdminPartial" />
    @RenderSection("Scripts", required: false)

</body>
</html>