@page
@model DigiMoallem.Web.Pages.Admin.Roles.CreateModel

@{
    ViewData["Title"] = "ایجاد نقش جدید";
    var permissions = ViewData["Permissions"] as List<Permission>;
}

@section Styles {
    <style>
        .custom-control-label::before {
            right: -1.5rem;
        }

        .custom-control-label::after {
            right: -1.5rem;
        }
    </style>
}

<h1 class="my-5"> <i class="fa fa-user-plus ml-2"></i> @ViewData["Title"]</h1>

<!-- breadcrumb -->
<div class="bc-icons-2">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb dark-bg-admin lighten-5">
            <li class="breadcrumb-item">
                <a class="black-text" href="/Admin/Roles">لیست نقش ها</a><i class="fas fa-caret-left mx-2"></i>
            </li>
            <li class="breadcrumb-item active">@ViewData["Title"]</li>
        </ol>
    </nav>

</div>

<form method="post" class="md-form">

    <div class="container">

        <div asp-validation-summary="All" class="text-danger my-4"></div>

        @if (TempData["WrongInputs"] != null)
        {
            <div class="alert alert-danger">
                @TempData["WrongInputs"]
            </div>
        }

        @if (TempData["OperationFailed"] != null)
        {
            <div class="alert alert-danger">
                @TempData["OperationFailed"]
            </div>
        }

        <div class="row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8">

                <!-- title -->
                <div class="md-form mb-4">
                    <input type="text" asp-for="Role.Title" class="form-control">
                    <label asp-for="Role.Title"></label>
                </div>

                <div class="form-group my-5">
                    <!-- create -->
                    <button type="submit" class="btn btn-outline-success btn-sm">
                        <i class="fa fa-plus ml-2"></i> ایجاد نقش جدید
                    </button>

                    <!-- back to roles -->
                    <a asp-area=""
                       asp-page="Index" 
                       class="btn btn-outline-warning btn-sm">
                        <i class="fas fa-arrow-right ml-2"></i> بازگشت
                    </a>
                </div>

            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <!-- accessibility -->
                <h4 class="mb-2">سطح دسترسی ها</h4>


                @foreach (var permission in permissions.Where(p => p.ParentId == null))
                {
                    <div class="custom-control custom-checkbox margin-2">
                        <input type="checkbox" class="custom-control-input" name="selectedPermission" value="@permission.PermissionId" id="@permission.PermissionId" />
                        <label class="custom-control-label text-dark" for="@permission.PermissionId">@permission.Title</label>
                    </div>

                    @if (permissions.Any(p => p.ParentId == permission.ParentId))
                    {

                        @foreach (var sub in permissions.Where(p => p.ParentId == permission.PermissionId))
                        {
                            <div class="custom-control custom-checkbox margin-3">
                                <input type="checkbox" class="custom-control-input" name="selectedPermission" value="@sub.PermissionId" id="@sub.PermissionId" />
                                <label class="custom-control-label text-dark" for="@sub.PermissionId">@sub.Title</label>
                            </div>

                            @if (permissions.Any(p => p.ParentId == sub.ParentId))
                            {

                                @foreach (var doubleSub in permissions.Where(p => p.ParentId == sub.PermissionId))
                                {
                                    <div class="custom-control custom-checkbox margin-4">
                                        <input type="checkbox" class="custom-control-input" name="selectedPermission" value="@doubleSub.PermissionId" id="@doubleSub.PermissionId" />
                                        <label class="custom-control-label text-dark" for="@doubleSub.PermissionId">@doubleSub.Title</label>
                                    </div>
                                }

                            }

                        }

                    }

                }

            </div>
        </div>

    </div>
</form>
