@page "{id}"
@model DigiMoallem.Web.Pages.Admin.Roles.DeleteModel

@{
    ViewData["Title"] = "حذف نقش";
    var permissions = ViewData["Permissions"] as List<Permission>;
}

<div class="container">

    <!-- back -->
    <a asp-area=""
       asp-page="Index"
       class="btn btn-outline-info">
        <i class="fas fa-arrow-right ml-2"></i> بازگشت
    </a>

    <h1 class="my-5"> <i class="fa fa-user-minus ml-2"></i> @ViewData["Title"] <q>@Model.Role.Title</q></h1>

    <form method="post">
        <!-- hidden -->
        <input type="hidden" asp-for="@Model.Role.RoleId" />
        <input type="hidden" asp-for="@Model.Role.Title" />

        <!-- user table -->
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>شناسه</th>
                    <td class="english-font">@Model.Role.RoleId</td>
                </tr>
                <tr>
                    <th>عنوان</th>
                    <td>@Model.Role.Title</td>
                </tr>
                <tr>
                    <th>دسترسی ها</th>
                    <td>
                        @foreach (var permission in permissions)
                        {
                            <button type="button" class="btn btn-outline-info btn-sm">@permission.Title</button>
                        }
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <!-- delete -->
                        <button class="btn btn-outline-danger">
                            <i class="fa fa-trash ml-2"></i> حذف نقش
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </form>

</div>