@page "{id}"
@model DigiMoallem.Web.Pages.Admin.Roles.EditModel
@{
    ViewData["Title"] = "ویرایش نقش";
    var permissions = ViewData["Permissions"] as List<Permission>;
    var selectedPermissions = ViewData["SelectedPermissions"] as List<int>;
}

<div class="container">

    <!-- back to roles -->
    <a asp-area=""
       asp-page="Index"
       class="btn btn-outline-info">
        <i class="fas fa-arrow-right ml-2"></i> بازگشت
    </a>

    <h1 class="my-5">
        <i class="fa fa-user-plus ml-2"></i> @ViewData["Title"] <q>@Model.Role.Title</q>
    </h1>

    <form method="post" class="md-form">
        <input type="hidden" asp-for="Role.RoleId" />
        <input type="hidden" asp-for="Role.IsDelete" />

        <div asp-validation-summary="All" class="text-danger my-4"></div>

        @if (TempData["WrongInputs"] != null)
        {
            <div class="alert alert-danger">
                @TempData["WrongInputs"]
            </div>
        }

        @if (TempData["OperationFailed"] != null)
        {
            <div class="alert alert-danger">
                @TempData["OperationFailed"]
            </div>
        }

        <div class="row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8">

                <!-- title -->
                <div class="md-form mb-4">
                    <label asp-for="Role.Title"></label>
                    <input type="text" asp-for="Role.Title" class="form-control">

                    <span asp-validation-for="Role.Title" class="text-danger"></span>
                </div>

                <div class="form-group my-5">
                    <!-- create -->
                    <button type="submit" class="btn btn-outline-success">
                        <i class="fa fa-pen ml-2"></i> ویرایش نقش
                    </button>
                </div>

                </div>

                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">
                            دسترسی
                        </div>
                        <div class="card-body">

                            @foreach (var permission in permissions.Where(p => p.ParentId == null))
                            {
                                <div class="form-check py-2">
                                    <label class="class=" form-check-label"" for="@permission.PermissionId">

                                        <input type="checkbox" class="form-check-input" name="selectedPermission" value="@permission.PermissionId" id="@permission.PermissionId"
                                               @((selectedPermissions.Any(p => p == permission.PermissionId)) ? "checked" : "") />
                                        <span class="mr-4">@permission.Title</span>
                                    </label>
                                </div>

                                @if (permissions.Any(p => p.ParentId == permission.ParentId))
                                {

                                    @foreach (var sub in permissions.Where(p => p.ParentId == permission.PermissionId))
                                    {
                                        <div class="form-check mr-3 py-2">
                                            <label class="form-check-label"
                                                   for="@sub.PermissionId">

                                                <input type="checkbox"
                                                       class="form-check-input"
                                                       name="selectedPermission"
                                                       value="@sub.PermissionId"
                                                       id="@sub.PermissionId"
                                                       @((selectedPermissions.Any(p => p == sub.PermissionId)) ? "checked" : "") />

                                                <span class="mr-4">@sub.Title</span>

                                            </label>
                                        </div>

                                        @if (permissions.Any(p => p.ParentId == sub.ParentId))
                                        {

                                            @foreach (var doubleSub in permissions.Where(p => p.ParentId == sub.PermissionId))
                                            {
                                                <div class="form-check mr-5 py-2">
                                                    <label class="form-check-label"
                                                           for="@doubleSub.PermissionId">

                                                        <input type="checkbox"
                                                               class="form-check-input"
                                                               name="selectedPermission"
                                                               value="@doubleSub.PermissionId"
                                                               id="@doubleSub.PermissionId"
                                                               @((selectedPermissions.Any(p => p == doubleSub.PermissionId)) ? "checked" : "") />

                                                        <span class="mr-4">@doubleSub.Title</span>

                                                    </label>
                                                </div>

                                            }

                                        }

                                    }

                                }

                            }

                        </div>

                    </div>
                </div>

            </div>

    </form>

</div>

