@page
@model DigiMoallem.Web.Pages.Admin.Roles.IndexModel
@{
    ViewData["Title"] = "لیست نقش ها";
}

<h1 class="my-5"> <i class="fa fa-users ml-2"></i> @ViewData["Title"]</h1>

<!-- breadcrumb -->
<div class="bc-icons-2">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb dark-bg-admin lighten-5">
            <li class="breadcrumb-item active">@ViewData["Title"]</li>
        </ol>
    </nav>

</div>

<!-- create succeeded -->
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}

<div class="p-3">
    <!-- add -->
    <a asp-area=""
       asp-page="Create" 
       class="btn btn-success btn-sm"> 
    <i class="fa fa-plus ml-2"></i> افزودن نقش جدید
    </a>
</div>

<!-- users table -->
<div class="table-responsive">
    <table class="table table-dark table-striped table-bordered">
        <thead>
            <tr>
                <th class="th-sm">
                    شناسه
                </th>
                <th class="th-sm">
                    عنوان نقش
                </th>
                <th class="th-sm">
                    دستورات
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Roles.Count == 0)
            {
                <tr class="bg-dark text-light">
                    <td colspan="5" class="py-4">
                        <i class="fas fa-exclamation-triangle ml-2"></i> لیست نقش ها خالی است.
                    </td>
                </tr>
            }
            else
            {
                @foreach (var role in Model.Roles)
                {
                    <tr>
                        <td class="english-font">@role.RoleId</td>
                        <td>@role.Title</td>
                        <td class="text-center">
                            <a asp-area=""
                               asp-page="/Admin/Roles/Edit"
                               asp-route-id="@role.RoleId" 
                               class="btn btn-warning btn-sm"> 
                            <i class="fa fa-pen ml-2"></i> ویرایش
                            </a>
                            <a asp-area=""
                               asp-page="/Admin/Roles/Delete"
                               asp-route-id="@role.RoleId"       
                               class="btn btn-danger btn-sm"> 
                            <i class="fa fa-trash ml-2"></i> حذف
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
