@page
@model DigiMoallem.Web.Pages.Admin.DashboardModel

@inject IUserService userService
@inject ICourseService courseService
@inject IMessageService messageService
@inject IWorkService workService
@inject IOrderService orderService
@inject IPermissionService permissionService
@inject IAccountingService accountingService

@{
    ViewData["Title"] = "داشبورد سایت دیجی معلم";
    var teacherId = userService.GetUserIdByUserName(User.Identity.Name);
}

@section Metatags {
    <meta http-equiv="refresh" content="120" />
}

<div class="container">

    <h1 class="my-5"> <i class="fa fa-user-graduate ml-2"></i> @ViewData["Title"] </h1>

    @if (permissionService.CheckPermission(2, User.Identity.Name))
    {
        <div class="card my-3">

            <div class="card-header">
                مدیریت سایت
            </div>

            <div class="card-body">
                <a asp-area="" asp-page="/Admin/Messages/Index" class="btn btn-outline-warning m-1">
                    <span class="badge badge-warning english-font ml-2">@messageService.NewContactsCount()</span> پیام های جدید
                </a>

                <a asp-area="" asp-page="/Admin/Works/Index" class="btn btn-outline-danger m-1">
                    <span class="badge badge-danger english-font ml-2">@workService.NewWorksCount()</span> درخواست مدرسین جدید
                </a>

                <a asp-area="" asp-page="/Admin/Courses/Comments" class="btn btn-outline-success m-1">
                    <span class="badge badge-success english-font ml-2">@courseService.UncheckedCoursesCount()</span> کامنت های بررسی نشده
                </a>

                <a asp-area="" asp-page="/Admin/Courses/UncheckedCourses" class="btn btn-outline-danger m-1">
                    <span class="badge badge-danger english-font ml-2">@courseService.UncheckedCoursesCount()</span> دروس بررسی نشده
                </a>

                <a asp-area="" asp-page="/Admin/Courses/AllEpisodes" class="btn btn-outline-warning m-1">
                    <span class="badge badge-warning english-font ml-2">@courseService.UncheckedEpisodesCount()</span> بخش های بررسی نشده
                </a>

                <a asp-area=""
                   asp-page="/Admin/Purifications/Index"
                   class="btn btn-outline-light m-2">
                    <i class="fa fa-percent ml-1"></i> لیست درخواست تصفیه <span class="badge badge-danger mr-2">@accountingService.UncheckedPurificationsCount()</span>
                </a>
            </div>

        </div>
    }

    @if (permissionService.CheckPermission(2, User.Identity.Name))
    {

        <div class="card">

            <div class="card-header">
                مدیریت سایت
            </div>

            <div class="card-body">

                <div class="row">

                    <div class="col-12 col-md-3 my-3">

                        <!-- users count -->
                        <div class="card">
                            <div class="card-header text-center">
                                <i class="fa fa-users fa text-center ml-1"></i> تعداد کاربران
                            </div>
                            <div class="card-body">
                                <h1 class="text-center big-font">@userService.UsersCount()</h1>
                            </div>
                        </div>

                    </div>

                    <div class="col-12 col-md-3 my-3">

                        <!-- teachers count -->
                        <div class="card">
                            <div class="card-header text-center">
                                <i class="fa fa-chalkboard-teacher fa text-center ml-1"></i> تعداد مدرسان
                            </div>
                            <div class="card-body">
                                <h1 class="text-center big-font">@userService.TeachersCount()</h1>
                            </div>
                        </div>

                    </div>

                    <div class="col-12 col-md-3 my-3">

                        <!-- roles count -->
                        <div class="card">
                            <div class="card-header text-center">
                                <i class="fa fa-map-pin fa text-center ml-1"></i> تعداد نقش ها
                            </div>
                            <div class="card-body">
                                <h1 class="text-center big-font">@userService.RolesCount()</h1>
                            </div>
                        </div>

                    </div>

                    <div class="col-12 col-md-3 my-3">

                        <!-- courses count -->
                        <div class="card">
                            <div class="card-header text-center">
                                <i class="fa fa-book-open fa text-center ml-1"></i> تعداد درس ها
                            </div>
                            <div class="card-body">
                                <h1 class="text-center big-font">@courseService.CourseCount()</h1>
                            </div>
                        </div>

                    </div>

                    <div class="col-12 col-md-3 my-3">

                        <!-- teacher courses' orders -->
                        <div class="card">
                            <div class="card-header text-center">
                                <i class="fa fa-list-ul fa text-center ml-1"></i> تعداد سفارشات از شما
                            </div>
                            <div class="card-body">
                                <h1 class="text-center big-font">@orderService.GetOrdersOfTeacherCount(teacherId)</h1>
                            </div>
                        </div>

                    </div>

                    <div class="col-12 col-md-3 my-3">

                        <!-- messages count -->
                        <div class="card">
                            <div class="card-header text-center">
                                <i class="fa fa-envelope fa text-center ml-1"></i> تعداد پیام ها
                            </div>
                            <div class="card-body">
                                <h1 class="text-center big-font">@messageService.ContactsCount()</h1>
                            </div>
                        </div>

                    </div>

                    <div class="col-12 col-md-3 my-3">

                        <!-- works with us count -->
                        <div class="card">
                            <div class="card-header text-center">
                                <i class="fa fa-list-alt fa text-center ml-1"></i> تعداد متقاضیان همکاری
                            </div>
                            <div class="card-body">
                                <h1 class="text-center big-font">@workService.WorksCount()</h1>
                            </div>
                        </div>

                    </div>

                    <div class="col-12 col-md-3 my-3">

                        <!-- orders count -->
                        <div class="card">
                            <div class="card-header text-center">
                                <i class="fa fa-shopping-bag fa text-center ml-1"></i> تعداد سفارشات
                            </div>
                            <div class="card-body">
                                <h1 class="text-center big-font">@orderService.OrdersCount()</h1>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    }

    @if (permissionService.CheckPermission(22, User.Identity.Name))
    {
        <div class="card my-3">
            <div class="card-header">
                لینک های دسترسی سریع معلّم
            </div>
            <div class="card-body">

                <!-- teacher's course list -->
                <a asp-area=""
                   asp-page="/Admin/Courses/Teacher"
                   class="btn btn-outline-primary m-1">
                    <i class="fa fa-book-open ml-1"></i> لیست دروس استاد
                </a>

                <!-- edit user profile info -->
                <a asp-area="UserPanel"
                   asp-controller="Home"
                   asp-action="Edit"
                   class="btn btn-outline-warning m-1">
                    <i class="fa fa-user-edit ml-1"></i> ویرایش اطلاعات
                </a>

                <!-- teacher's share -->
                <a href="/Admin/Accountings/TeacherIncomesStatus/@userService.GetUserIdByUserName(User.Identity.Name)"
                   class="btn btn-outline-info m-1">
                    <i class="fa fa-money-bill ml-1"></i> مشاهده صورت وضعیت مالی
                </a>

            </div>
        </div>

    <div class="card my-3">

        <div class="card-header">
            اطلاعات مرتبط با معلّم
        </div>

        <div class="card-body">

            <div class="row">

                <div class="col-12 col-md-3 my-3">

                    <!-- teacher courses' orders -->
                    <div class="card">
                        <div class="card-header text-center">
                            <i class="fa fa-list-ul fa text-center ml-1"></i> تعداد سفارشات از شما
                        </div>
                        <div class="card-body">
                            <h1 class="text-center big-font">@orderService.GetOrdersOfTeacherCount(teacherId)</h1>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

    }

</div>