@page "{id:min(1)}"
@model DigiMoallem.Web.Pages.Admin.Users.DeleteModel

@{
    ViewData["Title"] = "حذف کاربر";
}

<div class="container">

    <!-- back to users -->
    <a asp-area="" asp-page="Index" class="btn btn-outline-info">
        <i class="fas fa-arrow-right ml-2"></i> بازگشت
    </a>

    <h1 class="my-5"> <i class="fa fa-user-plus ml-2"></i> @ViewData["Title"]</h1>

    @if (TempData["RecoverUser"] != null)
    {
        <div class="alert alert-danger">
            @TempData["RecoverUser"]
        </div>
    }

    <form method="post">
        <!-- hidden -->
        <input type="hidden" value="@ViewData["Id"]" />

        <!-- user table -->
        <div class="table-responsive">
            <table class="table table-dark table-striped table-bordered">
                <tr>
                    <th>نام کاربری</th>
                    <td class="english-font">@Model.UserPanelViewModel.UserName</td>
                </tr>
                <tr>
                    <th>ایمیل</th>
                    <td class="english-font">@Model.UserPanelViewModel.Email</td>
                </tr>
                <tr>
                    <th>موجودی حساب</th>
                    <td>@Model.UserPanelViewModel.Balance</td>
                </tr>
                <tr>
                    <th>تاریخ عضویت</th>
                    <td class="english-font">@Model.UserPanelViewModel.RegisterDate.ToPersianDate()</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <!-- delete -->
                        <button class="btn btn-outline-danger">
                            <i class="fa fa-trash ml-2"></i> حذف کاربر
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </form>

</div>
