@page "{id}"
@model DigiMoallem.Web.Pages.Admin.Users.DeleteModel

@{
    ViewData["Title"] = "حذف کاربر";
}

    <h1 class="my-5"> <i class="fa fa-user-minus ml-2"></i> @ViewData["Title"]</h1>

<!-- breadcrumb -->
<div class="bc-icons-2">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb dark-bg-admin lighten-5">
            <li class="breadcrumb-item">
                <a class="black-text" href="/Admin/Users">لیست کاربران</a><i class="fas fa-caret-left mx-2"></i>
            </li>
            <li class="breadcrumb-item active">@ViewData["Title"]</li>
        </ol>
    </nav>

</div>

@if (TempData["RecoverUser"] != null)
{
    <div class="alert alert-danger">
        @TempData["RecoverUser"]
    </div>
}

<form method="post">
    <!-- hidden -->
    <input type="hidden" value="@ViewData["Id"]" />

    <!-- user table -->
    <div class="table-responsive">
        <table class="table table-dark table-striped table-bordered">
            <tr>
                <th>نام کاربری</th>
                <td class="english-font">@Model.UserPanelViewModel.UserName</td>
            </tr>
            <tr>
                <th>ایمیل</th>
                <td class="english-font">@Model.UserPanelViewModel.Email</td>
            </tr>
            <tr>
                <th>موجودی حساب</th>
                <td>@Model.UserPanelViewModel.Balance</td>
            </tr>
            <tr>
                <th>تاریخ عضویت</th>
                <td class="english-font">@Model.UserPanelViewModel.RegisterDate.ToPersianDate()</td>
            </tr>
            <tr>
                <td colspan="2">
                    <!-- delete -->
                    <button class="btn btn-danger btn-sm"> <i class="fa fa-trash ml-2"></i> حذف کاربر</button>
                    <!-- back -->
                    <a asp-page="Index" class="btn btn-outline-warning btn-sm"> <i class="fas fa-arrow-right ml-2"></i> بازگشت</a>
                </td>
            </tr>
        </table>
    </div>
</form>