@page "{id}"
@model DigiMoallem.Web.Pages.Admin.Users.EditModel

@{
    ViewData["Title"] = "ویرایش کاربران";
    var Roles = ViewData["Roles"] as List<Role>;
}

<div class="container">

    <!-- back to users -->
    <a asp-area="" asp-page="Index" class="btn btn-outline-info">
        <i class="fas fa-arrow-right ml-2"></i> بازگشت
    </a>

    <h1 class="my-5"> <i class="fa fa-user-edit ml-2"></i> @ViewData["Title"]</h1>

    <form method="post" enctype="multipart/form-data" class="md-form" autocomplete="off">

        <div asp-validation-summary="ModelOnly"></div>

        @if (TempData["WrongInputs"] != null)
        {
            <div class="alert alert-danger">
                @TempData["WrongInputs"]
            </div>
        }

        @if (TempData["OperationFailed"] != null)
        {
            <div class="alert alert-danger">
                @TempData["OperationFailed"]
            </div>
        }

        @if (TempData["UserNameExist"] != null)
        {
            <div class="alert alert-danger">
                @TempData["UserNameExist"]
            </div>
        }

        @if (TempData["EmailExist"] != null)
        {
            <div class="alert alert-danger">
                @TempData["EmailExist"]
            </div>
        }

        <div class="row">

            <div class="col-md-8 col-sm-12">

                <input type="hidden" asp-for="EditUserViewModel.AvatarName" />
                <input type="hidden" asp-for="EditUserViewModel.UserId" />

                <!-- username -->
                <div class="form-group">
                    <label asp-for="EditUserViewModel.UserName"></label>
                    <input type="text" class="form-control text-direction-ltr text-left" asp-for="EditUserViewModel.UserName" />

                    <span asp-validation-for="EditUserViewModel.UserName"></span>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-6">
                        <!-- firstName -->
                        <div class="form-group">
                            <label asp-for="EditUserViewModel.FirstName"></label>
                            <input type="text" class="form-control"
                                   asp-for="EditUserViewModel.FirstName" />

                            <span asp-validation-for="EditUserViewModel.FirstName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6">
                        <!-- lastName -->
                        <div class="form-group">
                            <label asp-for="EditUserViewModel.LastName"></label>
                            <input type="text" class="form-control"
                                   asp-for="EditUserViewModel.LastName" />

                            <span asp-validation-for="EditUserViewModel.LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <!-- email -->
                <div class="form-group">
                    <label asp-for="EditUserViewModel.Email"></label>
                    <input type="text" class="form-control text-direction-ltr text-left" asp-for="EditUserViewModel.Email" />

                    <span asp-validation-for="EditUserViewModel.Email"></span>
                </div>

                <!-- description -->
                <div class="form-group mb-4">
                    <label asp-for="EditUserViewModel.Description"></label>
                    <textarea class="form-control" asp-for="EditUserViewModel.Description" rows="3"></textarea>
                </div>

                <!-- password -->
                <div class="form-group">
                    <label asp-for="EditUserViewModel.Password"></label>
                    <input type="text" class="form-control text-direction-ltr text-left" asp-for="EditUserViewModel.Password" />
                    <small class="form-text text-muted">در صورت وارد کردن رمزعبور، رمز قبلی کاربر تغییر می کند.</small>
                </div>

                <!-- role list  -->
                <div class="form-group">
                    @foreach (var role in Roles)
                    {
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"
                                       value="@role.RoleId" 
                                       name="SelectedRoles"
                                       @((Model.EditUserViewModel.Roles.Any(r => r == role.RoleId)) ? "checked" : "") />
                                <span class="mr-4">@role.Title</span>
                            </label>
                        </div>
                    }
                </div>

                <div class="form-group my-5">
                    <!-- edit -->
                    <button type="submit" class="btn btn-outline-success">
                        <i class="fa fa-pen ml-2"></i> ویرایش کاربر
                    </button>
                </div>

            </div>
            <div class="col-md-4 col-sm-12">

                <!-- avatar section -->
                <div class="container">
                    <img id="display-image"
                         src="~/Images/Avatars/@Model.EditUserViewModel.AvatarName"
                         class="img-fluid mx-auto my-2 display-block"
                         alt="default avatar" />

                    <div class="form-group">
                        <div class="input-group my-4 w-100 max-width-520px">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input"
                                       asp-for="EditUserViewModel.UserAvatar"
                                       id="image"
                                       name="Image" />
                                <label class="custom-file-label" style="padding-right:6rem"
                                       asp-for="EditUserViewModel.UserAvatar">انتخاب فایل</label>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </form>

</div>