@page "{id}"
@model DigiMoallem.Web.Pages.Admin.Users.RecoverModel

@{
    ViewData["Title"] = "بازیابی کاربر";
}

<div class="container">

    <!-- back -->
    <a href="/Admin/Users" class="btn btn-outline-info">
        <i class="fas fa-arrow-right ml-2"></i> بازگشت
    </a>

    <h1 class="my-5"> <i class="fa fa-user text-danger ml-2"></i> @ViewData["Title"]</h1>

    <form method="post">
        <!-- hidden -->
        <input type="hidden" value="@ViewData["Id"]" />

        <!-- user table -->
        <div class="table-responsive">
            <table class="table table-dark table-striped table-bordered">
                <tr>
                    <th>نام کاربری</th>
                    <td class="english-font">@Model.UserPanelViewModel.UserName</td>
                </tr>
                <tr>
                    <th>ایمیل</th>
                    <td class="english-font">@Model.UserPanelViewModel.Email</td>
                </tr>
                <tr>
                    <th>موجودی حساب</th>
                    <td>@Model.UserPanelViewModel.Balance</td>
                </tr>
                <tr>
                    <th>تاریخ عضویت</th>
                    <td class="english-font">@Model.UserPanelViewModel.RegisterDate.ToPersianDate()</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <!-- recycle user -->
                        <button class="btn btn-outline-success">
                            <i class="fa fa-check ml-2"></i> بازیابی کاربر
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </form>

</div>